@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Prata|Raleway+Dots|Sacramento');


.background {
  background-image: url(https://images.unsplash.com/photo-1509392949348-24e77e5e902d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=397da56000441e02b4cde660a10e764f&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gradient {
  background-color: rgba(0, 0, 0, 0.150);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rootContainer {
  margin: 0 15%;
  font-family: 'Raleway Dots', 'Prata', sans-serif;
  text-align: center;
  display: block;
}

.title {
  font-size: 12vw;
  font-family: 'Sacramento', 'Lobster';
  font-weight: thin;
  color: white;
  letter-spacing: 2px;
  display: inline-block;
}

.subTitle {
  font-size: 6vw;
  display: inline-block;
  color: white;
}
